body {
    font-family: indie flower;
    font-weight: bolder;

}
#quizMain{
    position: relative;
    display: block;
    /* background-color: rgb(21, 129, 124); */
    background-color: white;
    height: 610px;
    width: 400px;
    text-align: center;
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 20px;
}

h1 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    font-size: 55px;
    }

#div1 {
    position: absolute;
    text-align: center;
    height: 105px;
    width:  385px;
    background-color: white;
    border: 2px solid rgb(21, 129, 124);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 5px;
    font-size: 2.5rem;
}

#div2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-top: -10px;
    margin-left: 175px;
}

#button1 {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background-color: white;
    height: 55px;
    width: 385px;
    margin-left: 5px;
    border: 1px solid white;
    border-radius: 50px 0px 0px 50px;
    
}
#button1s {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border: 10px solid rgb(21, 129, 124);
    border-radius: 50%;
    margin-top: 145px;
    margin-left: 4px;
}
#button2 {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
    background-color: white;
    height: 55px;
    width: 385px;
    margin-left: 8px;
    border: 1px solid white;
    border-radius: 0px 50px 50px 0px;
}
#button2s {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border: 10px solid rgb(21, 129, 124);
    border-radius: 50%;
    margin-top: 215px;
    margin-left: 325px;
}
#button3 {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 290px;
    background-color: white;
    border: 1px solid white; 
    height: 55px;
    width: 385px;
    margin-left: 5px;
    border-radius: 50px 0px 0px 50px;
}
#button3s {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border: 10px solid rgb(21, 129, 124);
    border-radius: 50%;
    margin-top: 285px;
    margin-left: 4px;
}

#button4 {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 360px;
    background-color: white;
    height: 55px;
    width: 385px;
    margin-left: 8px;
    border: 1px solid white;
    border-radius: 0px 50px 50px 0px;
}
#button4s {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border: 10px solid rgb(21, 129, 124);
    border-radius: 50%;
    margin-top: 355px;
    margin-left: 325px;
}
#button5 {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 430px;
    background-color: white;
    border: 1px solid white; 
    height: 55px;
    width: 385px;
    margin-left: 5px;
    border-radius: 50px 0px 0px 50px;
}

#button5s {
    font-family: indie flower;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border: 10px solid rgb(21, 129, 124);
    border-radius: 50%;
    margin-top: 425px;
    margin-left: 4px;
}

#vorige {
    position: absolute;
    font-family: indie flower;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgb(3, 184, 184);
    margin-top: 620px;
    margin-left:-250px;
    height: 40px;
    border: 1px solid rgb(3, 184, 184) ;
}
#volgende {
    position: absolute;
    font-family: indie flower;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgb(3, 184, 184);
    margin-top: 620px;
    margin-left:-160px;
    height: 40px;
    border: 1px solid rgb(3, 184, 184) ;
}

#start {
    position: absolute;
    font-family: indie flower;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgb(3, 184, 184);
    margin-left:170px;
    margin-right: 5px;
    height: 30px;
    width: 60px;
    border: 1px solid rgb(3, 184, 184) ;
    text-align: center;
    top: 15px;
}
#knop {
    position: absolute;
    font-family: indie flower;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgb(3, 184, 184);
    margin-top: 10px;
    margin-left:50px;
    margin-right: 5px;
    height: 30px;
    width: 60px;
    border: 1px solid rgb(3, 184, 184) ;
    text-align: center;
    margin-top: 100px;
}
