.container {
    display: flex;
    flex-direction: column;
}
.first {
    position: relative;
    height: 500px;
    width: 250px;
    border: 2px solid black;
    display: block;
    background-color: #4B86CB;
}
ul {
    list-style: none;
}