$backgroundNav: #d9c2a1;
$backgroundBody: #f4f1e5;
$lettersBig: #29542e;
$buttonColor: #fae7cbb2;
$borderButton:#fae7cb;

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body {
    background-color: $backgroundBody;
    color: $lettersBig;
    // color: #fae7cb;
}

.logoName {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 19px;
    font-family: 'Rancho', cursive;
}
.imageCat {
    margin: 20px 0px 0px 20px;
}

nav {
    ul {
    text-align: right;
    margin-top: -40px;
    }
    .navList li {
        display: inline;
    }
    .linkStyle {
        text-decoration: none;
        padding: 15px 15px;
        color: $lettersBig;
        font-size: 35px;
        font-weight: bolder;
        font-family: 'Rancho', cursive;
    }
}
      
div.navBar {
    position: static;
    background-color: $backgroundNav;
    width: 100%;
    height: 170px;
    // margin: 0 auto;
}

///////////////////////////////////////////////////////

.buttonPlace {
    position: absolute;
    z-index: 1;

}

.catPics {
    height: 400px;
    width: 350px;
    margin: 50px 60px 0px 60px;
}



////////////////////////////////////////////////////

.buttonsImage  {
    width: 350px;
    height: 60px;
    background-color: $buttonColor;
    border-color: $backgroundNav;
    border-style: solid;
    border-width: 0 2px 2px 2px;
    margin-left: -410px;
    top: 350px;
}

.buttonsImage:hover {
    cursor: pointer;
}

.buttonsImage {
  position: relative;
  overflow: hidden;
}

.buttonsImage:hover:before {
    opacity: 1;
    transform: translate(0,0);
}

.buttonsImage:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em; left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  transform: translate(-100%,0);
  transition: all .5s ease-in-out;
}
  /*button div (button text before hover)*/
  .buttonsImage:hover div { 
      transform: translate(100%,0)
    }

    .buttonsImage div {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
  }

  .cart {
    //   position: absolute;
    //   display: flex;
      height: 30px;
      width: 50px;
      background-color: $lettersBig ;
      color: $backgroundBody;
      left: 40px;
  }
  button.add {
    background-color: $backgroundNav;
    width: 1.5rem;
  }
  button.remove {
    background-color: $backgroundNav;
    width: 1.5rem;
  }
  .text-right {
    text-align: right;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 1;
  }
  .block {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    text-align: right;
    width: 400px;
    margin-left: 1070px;
  }



@media only screen and (max-width: 1200px){
    // .linkStyle{
    //     font-size: 6vw;
    // } 
    // .logoName {
    //     font-size: 8vw;
    // }
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
    //  .linkStyle{
    //     font-size: 6.5vw;
    // } 
    // .logoName {
    //     font-size: 7.5vw;
    // }
  
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
    // .linkStyle{
    //     font-size: 5.5vw;
    // }
    // .logoName {
    //     font-size: 6.5vw;
    // }
	/*Small smartphones [325px -> 425px]*/
}