@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
body {
  background-color: #f4f1e5;
  color: #29542e;
}

.logoName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  font-family: 'Rancho', cursive;
}

.imageCat {
  margin: 20px 0px 0px 20px;
}

nav ul {
  text-align: right;
  margin-top: -40px;
}

nav .navList li {
  display: inline;
}

nav .linkStyle {
  text-decoration: none;
  padding: 15px 15px;
  color: #29542e;
  font-size: 35px;
  font-weight: bolder;
  font-family: 'Rancho', cursive;
}

div.navBar {
  position: static;
  background-color: #d9c2a1;
  width: 100%;
  height: 170px;
}

.buttonPlace {
  position: absolute;
  z-index: 1;
}

.catPics {
  height: 400px;
  width: 350px;
  margin: 50px 60px 0px 60px;
}

.buttonsImage {
  width: 350px;
  height: 60px;
  background-color: #fae7cbb2;
  border-color: #d9c2a1;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  margin-left: -410px;
  top: 350px;
}

.buttonsImage:hover {
  cursor: pointer;
}

.buttonsImage {
  position: relative;
  overflow: hidden;
}

.buttonsImage:hover:before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.buttonsImage:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/*button div (button text before hover)*/
.buttonsImage:hover div {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.buttonsImage div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cart {
  height: 30px;
  width: 50px;
  background-color: #29542e;
  color: #f4f1e5;
  left: 40px;
}

button.add {
  background-color: #d9c2a1;
  width: 1.5rem;
}

button.remove {
  background-color: #d9c2a1;
  width: 1.5rem;
}

.text-right {
  text-align: right;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.col-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  text-align: right;
  width: 400px;
  margin-left: 1070px;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
/*# sourceMappingURL=index.css.map */