

@mixin Elly {
    height: 50px;
    width: 200px;
    border: 4px solid pink;
    background-color: white;
    color: hotpink;
    border-radius: 20px;
        &:hover {
            background-color: hotpink;
            color: white;
            border: 4px solid pink;
            border-radius: 20px;
        }
    
}