
body, html {
    background-color: black;
    font-family: libre baskerville;    
    height: 100%;
    margin-bottom: 20px; 
    /* cursor:url(https://cdn.custom-cursor.com/db/8473/32/minimal-chilli-pepper-pointer.png), pointer; */
}
.container {
    background-image: url("/BootstrapWeek3/images/peppers.png");
    height: 100%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.black {
    position: sticky;
    top: 1vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.692);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #D49F37;
    width: 100%;
    margin-top: 0px;
    color: #D49F37;
    padding: 0;
}
.black li {
    font-size: 30px;
    font-weight: 800;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: 10px;
    color: #D49F37;
    text-decoration: none;
    margin-top: 25px;
}
  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 100px auto;
    transition: background-colour border;  
}
.about {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:black;
    position: relative;
    width: 500px;
    height: 300px;
    border: 5px solid #D49F37;
    color: #dfa83aa6;
    margin-bottom: 75px;
    padding-top: 10px;
}
.boxP {
    position: absolute;
    margin-top: 50px;
    padding: 20px 20px;
}
.about:hover {
    background-color: #251b077e;
    color: #D49F37;
    border: 9px solid #C7A869;
    transition-duration: 1s ;
}
.skills {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:black;
    position: relative;
    width: 500px;
    height: 300px;
    border: 5px solid #D49F37;
    color: #dfa83aa6;
    margin-bottom: 75px;
    padding-top: 10px;
}
.skills:hover {
    background-color: #251b077e;
    color: #D49F37;
    border: 9px solid #C7A869;
    transition-duration: 1s ;
}
.cv {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:black;
    position: relative;
    width: 500px;
    height: 300px;
    border: 5px solid #D49F37;
    color: #dfa83aa6;
    padding-top: 10px;
}
.cv:hover {
    background-color: #251b077e;
    color: #D49F37;
    border: 9px solid #C7A869;
    transition-duration: 1s ;
}


.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    margin-top: 200px;
    margin-bottom: 100px;
    color: #D49F37;
}
ul {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    padding: 15px;
  } 
  li a {
    color: #D49F37;
    text-decoration: none;
    margin-top: 15px;
    font-size: 50px;
    transition: font-size;
    padding: 30px;
  }
  li a:hover {
    color: #D49F37;
    font-size: 60px;
    transition-duration: 1000ms;
  }
  .goldLine {
    background-image: url(/HTML/images/gold.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    position: relative;
    margin-left: 50px;
    margin-top: -800px;
    z-index: -1;
   
  }
  .goldLine2 {
    background-image: url(/HTML/images/gold.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    position: relative;
    margin-left: 600px;
    margin-top: -800px;
    z-index: -1;
  }
  .goldLines {
      display: flex;
      position: relative;
  }
  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #D49F37;
    width: 700px;
    color: #D49F37;
    bottom: 100px;
    right: 100px;
  }
  .foot a {
      position: absolute;
      font-size: 50px;
      color: #D49F37;
      margin-top: 80px;
  }