
body, html {
    background-color: black;
    font-family: libre baskerville;    
    height: 100%;
    margin: 0 auto; 
    /* cursor:url(https://cdn.custom-cursor.com/db/8473/32/minimal-chilli-pepper-pointer.png), pointer; */
}
.container {
    background-image: url("/BootstrapWeek3/images/peppers.png");
    height: 100%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.black {
    position: sticky;
    top: 1vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.692);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #D49F37;
    width: 100%;
    height: 200px;
    color: #D49F37;
}
.black li {
    font-size: 2vw;
    font-weight: 800;
}

.black ul {
    margin-top: 50px;
}
.black a:hover {
  color:#e2b761
}
a {    
    font-size: 50px;
    color: #d49f37;
    text-decoration: none;
}
.fab {
  margin-top: -40px;
}

  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 100px auto;
    transition: background-colour border;  
}
.about {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:black;
    position: relative;
    width: 500px;
    height: 300px;
    border: 5px solid #D49F37;
    color: #dfa83aa6;
    margin-bottom: 75px;
    padding-top: 10px;
}
.boxP {
    position: absolute;
    margin-top: 50px;
    padding: 20px 20px;
}
.about:hover {
    background-color: #251b077e;
    color: #D49F37;
    border: 9px solid #C7A869;
    transition-duration: 1s ;
}
.skills {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:black;
    position: relative;
    width: 500px;
    height: 300px;
    border: 5px solid #D49F37;
    color: #dfa83aa6;
    margin-bottom: 75px;
    padding-top: 10px;
}
.skills:hover {
    background-color: #251b077e;
    color: #D49F37;
    border: 9px solid #C7A869;
    transition-duration: 1s ;
}
.cv {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:black;
    position: relative;
    width: 500px;
    height: 300px;
    border: 5px solid #D49F37;
    color: #dfa83aa6;
    padding-top: 10px;
}
.cv:hover {
    background-color: #251b077e;
    color: #D49F37;
    border: 9px solid #C7A869;
    transition-duration: 1s ;
}


.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    margin-top: 200px;
    margin-bottom: 100px;
    color: #D49F37;
}
ul {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    padding: 15px;
  } 
  .faves {
    color: #D49F37;
    text-decoration: none;
    margin-top: 15px;
    font-size: 50px;
    transition: font-size;
    padding: 30px;
  }
  .faves:hover {
    color: #D49F37;
    font-size: 60px;
    transition-duration: 1000ms;
  }
  .goldLine {
    background-image: url(/HTML/images/gold.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    position: relative;
    margin-left: 50px;
    margin-top: -800px;
    z-index: -1;
   
  }
  .goldLine2 {
    background-image: url(/HTML/images/gold.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    position: relative;
    margin-left: 600px;
    margin-top: -800px;
    z-index: -1;
  }
  .goldLines {
      display: flex;
      position: relative;
  }
  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #D49F37;
    width: 100%;
    color: #D49F37;
    bottom: 100px;
  }
  .foot a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-size: 50px;
      color: #D49F37;
      margin-top: 80px;
  }







  

    .slideshow-container {
    position: relative;
    background: black;
  }
  
  .mySlides {
    display: none;
    padding: 30px;
    text-align: center;
    color: #D49F37;
    font-size: 3vw;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #D49F37;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  .dot-container {
      text-align: center;
      padding: 10px;
      background: black;
      margin-bottom: 40px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #D49F37;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #cfab6181;
  }
  
  q {font-style: italic;}
  
  .author {color: #e4c27e;}





  @media (max-width: 576px) {
    .black ul {
      margin-top: 70px;
    }
    .black li {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
     }
     .black a {
       padding-bottom: 60px;
       padding-right: 10px;
     }
  }

  @media (min-width: 575px) {
    .black ul {
      margin-top: 70px;
    }
    .black li {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .black a {
      padding-bottom: 60px;
    }
  }

  @media (max-width: 767px){
    .black a {
      margin-top: 1px;
      padding-bottom: 70px;
      padding-right: 10px;
    }
  }

  @media (min-width: 768px){
    .black ul {
      margin-top: 70px;
    }
    .black a {
      padding-top: 40px;
      padding-right: 10px;
    }
  }
  