body {
    background-color: #ed9f8a69;
    font-family: consolas;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

}
header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    border-bottom: 5px solid #e6e6e6;
    height: 90px;
    text-align: right;
    position: relative;
    top: 45px;
    right: 20px;
}

a {
    color: rgb(89, 134, 109);
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: 10px;
}

.black {
    display: flex;
    background-color: black;
    color: #e6e6e6;
    position: relative;
    width: 100%;
    height: 200px;
    border-bottom: 5px solid rgb(89, 134, 109);
    border-top: 5px solid rgb(89, 134, 109);
}
.list {
    display: flex;
    position: relative;
    top: 40px;
    right: 20px;
}
li {
    color: rgb(89, 134, 109);
    font-size: 25px;
    list-style-type: none;
    padding: 0;
    margin-left: -20px;
}
.bracket {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 25px;
    color: rgb(248, 216, 156);
    top: 150px;
    left: 20px;
}
.me {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 150px;
}

.elly {
    font-size: 25px;
    color: rgb(248, 216, 156);
    margin-left: 20px;
}
.about {
    background-color: #e6e6e6;
    position: absolute;
    margin-top: 150px;
    width: 75%;
    height: 50%;
    left: 10%;
    border: 5px solid black;
    top: 180px;
}

.aboutMe {
    text-align: center;
    font-size: 25px;
}

.about:hover {
    background-color: black;
    color: #e6e6e6;
    border: 5px solid white ;
}

.black2 {
    background-color: black;
    color: lightblue;
    position: absolute;
    width: 75%;
    height: 25%;
    left: 10%;
    top: 750px;
    border: 5px solid white;
}

.soFar {
    text-align: left;
    font-size: 25px;
    position: relative;

}
.coloured-section {
    background-color: #e6e6e6;
    border: 5px solid black;
    position: absolute;
    top: 1000px;
    width: 75%;
    left: 10%;
}
.testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
  }
  
  .testimonial-image {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
  }

  .cacarousel-control-prev-icon {
      color: black;
      background-color: black;
  }






