
body {
  background-color: pink;
}
.container {
  display: flex;
  position: relative;
}
#images {
  transition:  8s ;
  
}
.carrousel {
  display: flex;
  position: absolute;
  max-width: 625px;
  margin-top: 50px;
  margin-left: 100px;
}


.picOne, .picTwo, .picThree   {
  position: absolute;
  border-radius: 15px 15px 0px 0px;
  max-width: 625px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

div.carrousel {
  background-color: aqua;
  width: 625px;
  height: 415px;
  overflow: hidden;
  border-radius: 15px;
}
.food {
  position: relative;
  width: 625px;
  display: flex;
  animation: next;

}


.btns {
  position:absolute;
  width:50px;
  height:416px;
  margin-top:150px;
  line-height:400px;
  text-align:center;
  background:rgba(128, 128, 128, 0.281);
  z-index:100;
}
.btns:hover {
  background: rgba(128, 128, 128, 0.568);
}

#next {
  position: absolute;
  left:575px; 
  margin-top: 0px;
  border-radius: 0px 15px 0px 0px;
}


#previous {    
  margin-top: 0px; 
  border-radius: 15px 0px 0px 0px;
}

#next, #previous:hover {
  color: rgb(82, 79, 79);
}



/* @media only screen and (min-width: 576px) {
  #next {
      right: 50px;
  }
} */
@media only screen and (max-width: 1074px) {
  #next {
      left: 578px;
  }
}

/* @keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -700px ); }
  100% { transform: translateX( -700px ); }
} */



/* @media only screen and (min-width: 576px) {
    #next {
        right: 50px;
    }
  } */
  @media only screen and (max-width: 1074px) {
    #next {
        left: 578px;
    }
  }
  
  /* @keyframes next {
    from{left:0px}
    to {left: -630px}
  } */
  /* @keyframes next {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }

   */