body {
  background-color: pink;
}
.container {
  display: flex;
}

.carrousel {
  display: flex;
  position: relative;
  max-width: 1000px;
  margin: 50px auto; 
}


.picOne, .picTwo, .picThree   {
  vertical-align: middle;
  border-radius: 15px 15px 0px 0px;
  max-width: 625px;
  display: flex;
  position: relative;
  
}


.food {
  position: absolute;
  width: 625px;
  display: flex;
  animation: next 5s;
  /* z-index: 1;  */

}




.btns {
  position:absolute;
  width:50px;
  height:416px;
  margin-top:150px;
  line-height:400px;
  text-align:center;
  background:rgba(0, 0, 0, 0.171);
  z-index:100;
}
.btns:hover {
  background: rgba(0, 0, 0, 0.089);
}

#next {
  right:375px; 
  margin-top: 0px;
  border-radius: 0px 15px 0px 0px;
}


#previous {    
  margin-top: 0px; 
  border-radius: 15px 0px 0px 0px;
}

#next, #previous:hover {
  color: rgb(82, 79, 79);
}



/* @media only screen and (min-width: 576px) {
  #next {
      right: 50px;
  }
} */
@media only screen and (max-width: 1074px) {
  #next {
      left: 578px;
  }
}

/* @keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -700px ); }
  100% { transform: translateX( -700px ); }
} */



/* @media only screen and (min-width: 576px) {
    #next {
        right: 50px;
    }
  } */
  @media only screen and (max-width: 1074px) {
    #next {
        left: 578px;
    }
  }
  
  @keyframes next {
    from{left:0px}
    to {left: -630px}
  }

  